<div class="thumb"><img src="{{$courseimage}}{{/courseimage}}" class="d-block w-100" alt="{{$coursename}}{{/coursename}}"></div>															
<div>
    <small class="small text-uppercase pb-3 d-block text-end px-3">{{$courseshortname}}{{/courseshortname}}</small>
    <h4 class="text-center h4 text-vermelho-conteporaneo">{{$coursename}}{{/coursename}}</h4>
    
    <div class="d-flex p-3 pt-0 justify-content-between text-uppercase mb-4">
        <small class="small"><i class="fa-solid fa-handshake"></i>{{$coursecategory}}{{/coursecategory}}</small>
        <small class="small"><b>{{$courseprogress}}{{/courseprogress}}%</b> completo</small>
    </div>
    <a href="{{$url}}{{/url}}" class="btn btn-primary btn-vermelho-conteporaneo text-uppercase rounded-5 m-auto btn-sm d-table px-4">Saiba mais</a>
</div>